.App {
  max-width: 700px;
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 40px;
}

.time {
  font-size: 32px;
}

h3 {
  margin-left: 30px;
}